<h1>Movie:</h1>
<h2><%= @movie.title%></h2>
<p><%= @movie.description%></p>
<p><%= @movie.genre%></p>
<p>
    <strong>Price:</strong>
    <%= number_to_currency @movie.price%>
    </p>

    <p>
        <%= link_to 'Back to Show Page', movies_path %>